body {
  display: flex;
}

section {
  width: 100%;
}
body > div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 3em;
  background-color: rgb(242, 242, 242);
}

iframe {
  height: 844px;
  width: 390px;
  overflow: auto;
  border: 0;
  border-radius: 10px;
}
