body {
  display: flex;
}

section {
  width: 100%;
  z-index: 90;
}
body > div {
  background-color: rgb(242, 242, 242);
  min-width: 486px;
  overflow-y: auto;
  overflow-x: hidden;
}

iframe {
  height: 844px;
  width: 390px;
  border: 0;
  border-radius: 10px;
  margin: 48px;
  background-color: white;
}

section > ul {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 2em 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
section > ul > li > button:hover,
section > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

section > ul > li > button {
  color: white;
  background-color: #3498db;
  padding: 0.25em 1em;
  border: 0;
  border-radius: 5px;
  font-size: small;
}
